<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="cards">
        <% @cocktails.each do |ct| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= link_to ct.name, cocktail_path(ct), class: "text-white" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
