<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="cards">
        <% @cocktails.each do |ct| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= ct.photo.present? ? (cl_image_path ct.photo) : 'https://res.cloudinary.com/lightglance/image/upload/v1568980137/photo-1517577968725-c62d5aa5cdb6_xqpffj.jpg' ; %>)">
            <%= link_to ct.name, cocktail_path(ct), class: "text-white" %>
          </div>
        <% end %>
      </div>
      <%= link_to 'Add a cocktail', new_cocktail_path, class: "btn btn-success my-3" %>
    </div>
  </div>
</div>
